# ETL

In [2]:
# importamos librerias para el manejo de los datos
import pandas as pd 
import numpy as np
import ast
from datetime import datetime

pd.set_option("max_colwidth",180)

## Extracion

In [6]:
#cargamos el dataset credits
credits = pd.read_csv('..\Datos\credits.csv')
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJT...","[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', 'gender': 2, 'id': 7879, 'job': 'Director', 'name': 'John Lasseter', 'profile_path': '/7EdqiNbr4FRjIhKHyPP...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a36847f80a7c73', 'gender': 2, 'id': 2157, 'name': 'Robin Williams', 'order': 0, 'profile_path': '/sojtJyIV3...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', 'gender': 2, 'id': 511, 'job': 'Executive Producer', 'name': 'Larry J. Franco', 'profile_path': None}, {'...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a9251416c75077a8d', 'gender': 2, 'id': 6837, 'name': 'Walter Matthau', 'order': 0, 'profile_path': '/xJVkvprOnz...","[{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', 'gender': 2, 'id': 26502, 'job': 'Director', 'name': 'Howard Deutch', 'profile_path': '/68Vae1HkU1NxQZ6KEm...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah' Jackson"", 'credit_id': '52fe44779251416c91011aad', 'gender': 1, 'id': 8851, 'name': 'Whitney Houston', 'order': 0, 'profile_path...","[{'credit_id': '52fe44779251416c91011acb', 'department': 'Directing', 'gender': 2, 'id': 2178, 'job': 'Director', 'name': 'Forest Whitaker', 'profile_path': '/4pMQkelS5lK661m9K...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251416c75039eb9', 'gender': 2, 'id': 67773, 'name': 'Steve Martin', 'order': 0, 'profile_path': '/rI2EMvkfKK...","[{'credit_id': '52fe44959251416c75039ed7', 'department': 'Sound', 'gender': 2, 'id': 37, 'job': 'Original Music Composer', 'name': 'Alan Silvestri', 'profile_path': '/chEsfnDEt...",11862

In [6]:
# dimension y nombre de columnas
print(credits.shape)
print(credits.columns)

(45476, 3)
Index(['cast', 'crew', 'id'], dtype='object')

In [20]:
#cargamos el dataset movies
movies = pd.read_csv('..\Datos\movies_dataset.csv')
movies.head(3)

C:\Users\mwmar\AppData\Local\Temp\ipykernel_9444\3238314512.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('..\Datos\movies_dataset.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against B...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",NaN,8844,tt0113497,en,Jumanji,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the gam...",...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",NaN,15602,tt0113228,en,Grumpier Old Men,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local b...",...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for Love.,Grumpier Old Men,False,6.5,92.0

In [60]:
# dimension y nombre de columnas
print(movies.shape)
print(movies.columns)

(45466, 24)
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

## Transformacion Movies

#### Desanidar columna belongs_to_collection

In [10]:
movies.loc[0:4,'belongs_to_collection']

0              {'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
1                                                                                                                                                                NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}
3                                                                                                                                                                NaN
4    {'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}
Name: belongs_to_collection, dtype: object

In [93]:
#cantidad de valores nulos
movies['belongs_to_collection'].isnull().sum()

40972

In [67]:
# Función auxiliar para manejar los valores nulos
def parse_collection(x):
    if pd.isnull(x):
        return None
    else:
        return ast.literal_eval(x)


# la columna belongs_to_collection esta en formato Json lo convertimos en un diccionario para luego extraer la informacion
# utilizamos la funcion parse_collection para manejar los valores nulos 
dummy = movies['belongs_to_collection'].apply(parse_collection)

In [79]:
#cantidad de valores nulos
dummy.isnull().sum()

40972

In [63]:
# Función auxiliar para manejar los valores nulos y numéricos
def get_value(x, key):
    if isinstance(x, dict):
        return x.get(key)
    else:
        return None

# creamos columnas nuevas y se aplican los datos extraidos del diccionario 
# manejando los valores nulos y numericos con la funcion get_value    
movies['id_collection'] = dummy.apply(lambda x: get_value(x, 'id'))
movies['name_collection'] = dummy.apply(lambda x: get_value(x, 'name'))
movies['poster_path_collection'] = dummy.apply(lambda x: get_value(x, 'poster_path'))
movies['backdrop_path_collection'] = dummy.apply(lambda x: get_value(x, 'backdrop_path'))

In [68]:
# mostramos las columnas creadas
movies.loc[0:5,['belongs_to_collection','id_collection','name_collection','poster_path_collection','backdrop_path_collection']]

,belongs_to_collection,id_collection,name_collection,poster_path_collection,backdrop_path_collection
0,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,NaN,NaN,None,None,None
2,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,NaN,NaN,None,None,None
4,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}",96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
5,NaN,NaN,None,None,None

#### Desanidar columna genres

In [72]:
#muestro la columna que contiene una lista de diccionarios
movies.loc[0:3,'genres']

0     [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]
2                                     [{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]
Name: genres, dtype: object

In [11]:
#cantidad de valores nulos
movies['genres'].isnull().sum()

0

In [74]:
#convierte los valores de la columna en una lista real
dummy_2 = movies['genres'].apply(lambda x: ast.literal_eval(x))

In [84]:
# Función auxiliar para obtener los valores 'id' y 'name' de una lista
def extract_values(lst, key):
    if isinstance(lst, list):
        return [item[key] for item in lst]
    else:
        return None
    
# creamos nuevas columas extrayendo los valores de la lista utilizando indexacion para acceder a
# los elemetos de la lista con ayuda de la funcion  extract_values
movies['id_genres'] = dummy_2.apply(lambda x: extract_values(x, 'id'))
movies['name_genres'] = dummy_2.apply(lambda x: extract_values(x, 'name'))

In [87]:
movies.loc[0:5,['genres','id_genres','name_genres']]

,genres,id_genres,name_genres
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]","[16, 35, 10751]","[Animation, Comedy, Family]"
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]","[12, 14, 10751]","[Adventure, Fantasy, Family]"
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]","[10749, 35]","[Romance, Comedy]"
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]","[35, 18, 10749]","[Comedy, Drama, Romance]"
4,"[{'id': 35, 'name': 'Comedy'}]",[35],[Comedy]
5,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}]","[28, 80, 18, 53]","[Action, Crime, Drama, Thriller]"

#### Desanidar columna production_companies

In [90]:
#muestro la columna que contiene una lista de diccionarios
movies.loc[0:4,'production_companies']

0                                                                                         [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]
2                                                        [{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]
3                                                                        [{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]
4                                           [{'name': 'Sandollar Productions', 'id': 5842}, {'name': 'Touchstone Pictures', 'id': 9195}]
Name: production_companies, dtype: object

In [92]:
# cantidad de valores nulos
movies['production_companies'].isnull().sum()

3

In [96]:
# Función auxiliar para manejar los valores nulos
def parse_collection(x):
    if pd.isnull(x):
        return None
    else:
        return ast.literal_eval(x)


# convierte los valores de la columna en una lista real
# utilizamos la funcion parse_collection para manejar los valores nulos 
dummy_3 = movies['production_companies'].apply(parse_collection)

In [99]:
# Función auxiliar para obtener los valores 'id' y 'name' de una lista
def extract_values(lst, key):
    if isinstance(lst, list):
        return [item[key] for item in lst]
    else:
        return None
    
# creamos nuevas columas extrayendo los valores de la lista utilizando indexacion para acceder a
# los elemetos de la lista con ayuda de la funcion  extract_values
movies['id_companies'] = dummy_3.apply(lambda x: extract_values(x, 'id'))
movies['name_companies'] = dummy_3.apply(lambda x: extract_values(x, 'name'))

In [100]:
movies.loc[0:4,['production_companies','id_companies','name_companies']]

,production_companies,id_companies,name_companies
0,"[{'name': 'Pixar Animation Studios', 'id': 3}]",[3],[Pixar Animation Studios]
1,"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]","[559, 2550, 10201]","[TriStar Pictures, Teitler Film, Interscope Communications]"
2,"[{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]","[6194, 19464]","[Warner Bros., Lancaster Gate]"
3,"[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]",[306],[Twentieth Century Fox Film Corporation]
4,"[{'name': 'Sandollar Productions', 'id': 5842}, {'name': 'Touchstone Pictures', 'id': 9195}]","[5842, 9195]","[Sandollar Productions, Touchstone Pictures]"

#### Desanidar columna production_countries

In [102]:
#observamos los datos
movies.loc[0:4,'production_countries']

0    [{'iso_3166_1': 'US', 'name': 'United States of America'}]
1    [{'iso_3166_1': 'US', 'name': 'United States of America'}]
2    [{'iso_3166_1': 'US', 'name': 'United States of America'}]
3    [{'iso_3166_1': 'US', 'name': 'United States of America'}]
4    [{'iso_3166_1': 'US', 'name': 'United States of America'}]
Name: production_countries, dtype: object

In [103]:
#cantidad de valores nulos
movies['production_countries'].isnull().sum()

3

In [104]:
# Función auxiliar para manejar los valores nulos
def parse_collection(x):
    if pd.isnull(x):
        return None
    else:
        return ast.literal_eval(x)


# convierte los valores de la columna en una lista real
# utilizamos la funcion parse_collection para manejar los valores nulos 
dummy_4 = movies['production_countries'].apply(parse_collection)

In [122]:
#extraigo el valor único de una lista que contiene solo un elemento y se le asigna a una columna nueva
movies['iso_3166_1_countries'] = dummy_4.apply(lambda x: x[0]['iso_3166_1'] if isinstance(x, list) and len(x) == 1 else None)
movies['name_countries'] = dummy_4.apply(lambda x: x[0]['name'] if isinstance(x, list) and len(x) == 1 else None)

In [123]:
#observo las columnas nuevas
movies.loc[0:4,['production_countries','iso_3166_1_countries','name_countries']]

,production_countries,iso_3166_1_countries,name_countries
0,"[{'iso_3166_1': 'US', 'name': 'United States of America'}]",US,United States of America
1,"[{'iso_3166_1': 'US', 'name': 'United States of America'}]",US,United States of America
2,"[{'iso_3166_1': 'US', 'name': 'United States of America'}]",US,United States of America
3,"[{'iso_3166_1': 'US', 'name': 'United States of America'}]",US,United States of America
4,"[{'iso_3166_1': 'US', 'name': 'United States of America'}]",US,United States of America

#### Desanidar columna spoken_languages

In [126]:
#imprimo los datos
movies.loc[0:4,'spoken_languages']

0                                             [{'iso_639_1': 'en', 'name': 'English'}]
1    [{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]
2                                             [{'iso_639_1': 'en', 'name': 'English'}]
3                                             [{'iso_639_1': 'en', 'name': 'English'}]
4                                             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, dtype: object

In [127]:
#cantidad de valores nulos
movies['spoken_languages'].isnull().sum()

6

In [128]:
# Función auxiliar para manejar los valores nulos
def parse_collection(x):
    if pd.isnull(x):
        return None
    else:
        return ast.literal_eval(x)


# convierte los valores de la columna en una lista real
# utilizamos la funcion parse_collection para manejar los valores nulos 
dummy_5 = movies['spoken_languages'].apply(parse_collection)

In [129]:
# Función auxiliar para obtener los valores 'id' y 'name' de una lista
def extract_values(lst, key):
    if isinstance(lst, list):
        return [item[key] for item in lst]
    else:
        return None
    
# creamos nuevas columas extrayendo los valores de la lista utilizando indexacion para acceder a
# los elemetos de la lista con ayuda de la funcion  extract_values
movies['iso_639_1_languages'] = dummy_5.apply(lambda x: extract_values(x, 'iso_639_1'))
movies['name_languages'] = dummy_5.apply(lambda x: extract_values(x, 'name'))

In [131]:
#mostramos los datos desanidados
movies.loc[0:20,['spoken_languages','iso_639_1_languages','name_languages']]

,spoken_languages,iso_639_1_languages,name_languages
0,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
1,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]","[en, fr]","[English, Français]"
2,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
3,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
4,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
5,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]","[en, es]","[English, Español]"
6,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'en', 'name': 'English'}]","[fr, en]","[Français, English]"
7,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]","[en, de]","[English, Deutsch]"
8,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
9,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso_639_1': 'es', 'name': 'Español'}]","[en, ru, es]","[English, Pусский, Español]"
10,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
11,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]","[en, de]","[English, Deutsch]"
12,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
13,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
14,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'la', 'name': 'Latin'}]","[en, la]","[English, Latin]"
15,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
16,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
17,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
18,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
19,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]
20,"[{'iso_639_1': 'en', 'name': 'English'}]",[en],[English]

#### reemplazar nulos por 0 : revenue, budget

In [15]:
# cantidad de valores nulos en renueve, hay 6
movies['revenue'].isnull().sum()

6

In [50]:
# reemplazo los valores nulos de renueve por 0
movies['revenue'] = movies['revenue'].fillna(0)

In [41]:
#en budget no hay nulos
movies['budget'].isnull().any()

False

#### eliminar valores nulos : release date

In [54]:
#cantidad de valores nulos
movies['release_date'].isnull().sum()

87

In [95]:
#elimino los nulos
movies.dropna(subset=['release_date'], inplace=True)

In [96]:
movies['release_date'].isnull().sum()

0

#### convertir release_date a tipo de dato fecha y crear columna release_year

In [50]:
#observo el primer dato de la columna y que esta de typo objeto
movies['release_date'].head(1)

0    1995-10-30
Name: release_date, dtype: object

In [51]:
#convierto la columna al formato %Y-%m-%d y los valores que no cumplan con el formato los vuelvo null y los elimino
movies['release_date'] = pd.to_datetime(movies['release_date'], format='%Y-%m-%d', errors='coerce')
movies.dropna(subset=['release_date'], inplace=True)

In [52]:
#observo el primer dato de la columna y ya convertida en datetime
movies['release_date'].head(1)

0   1995-10-30
Name: release_date, dtype: datetime64[ns]

In [24]:
# Extraer el año y crear la columna 'release_year'
movies['release_year'] = movies['release_date'].dt.year

In [25]:
#observo el primer dato y que es de tipo entero
movies['release_year'].head(1)

0    1995
Name: release_year, dtype: int64

#### Calcular el retorno de inversión y crear la columna 'return', revenue / budget

In [114]:
# Convertir la columna 'budget' a tipo numérico
movies['budget'] = pd.to_numeric(movies['budget'], errors='coerce')

In [29]:
#formato de visualizacion con dos decimales
pd.options.display.float_format = '{:.2f}'.format

In [123]:
#creamos la columna return (revenue / budget)
movies['return'] = np.divide(movies['revenue'].fillna(0), movies['budget'].fillna(1), where=(movies['budget'] != 0))

In [10]:
# mostramos la columna
movies['return'].head(3)

0    12.451801
1     4.043035
2     0.000000
Name: return, dtype: float64

In [12]:
#convertimos la columna a dos decimales
movies['return'] = movies['return'].round(2)
movies['return'].head(3)

0    12.45
1     4.04
2     0.00
Name: return, dtype: float64

#### Eliminar columnas

In [131]:
#eliminamos columnas
movies = movies.drop(['video','imdb_id','adult','original_title','poster_path','homepage'], axis=1)

#### exportamos movies

In [60]:
# cantidad de filas y columnas con la limpieza realizada
movies.shape

(45376, 32)

In [54]:
#exportamos el archivo con la primera transformacion
movies.to_csv('movies_1.csv',index=False, date_format='%Y-%m-%d')

# Transformacion credits

In [18]:
credits.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJT...","[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', 'gender': 2, 'id': 7879, 'job': 'Director', 'name': 'John Lasseter', 'profile_path': '/7EdqiNbr4FRjIhKHyPP...",862

#### Desanidar columna cast

In [7]:
#muestro los datos que estan anidados
credits.loc[0:3,'cast']

0    [{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJT...
1    [{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a36847f80a7c73', 'gender': 2, 'id': 2157, 'name': 'Robin Williams', 'order': 0, 'profile_path': '/sojtJyIV3...
2    [{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a9251416c75077a8d', 'gender': 2, 'id': 6837, 'name': 'Walter Matthau', 'order': 0, 'profile_path': '/xJVkvprOnz...
3    [{'cast_id': 1, 'character': "Savannah 'Vannah' Jackson", 'credit_id': '52fe44779251416c91011aad', 'gender': 1, 'id': 8851, 'name': 'Whitney Houston', 'order': 0, 'profile_path...
Name: cast, dtype: object

In [12]:
#contar valores nulos 
credits['cast'].isnull().sum()

0

In [15]:
#convierte los valores de la columna en una lista real
dummy_6 = credits['cast'].apply(lambda x: ast.literal_eval(x))

In [19]:
# Función auxiliar para obtener los valores 'id' y 'name' de una lista
def extract_values(lst, key):
    if isinstance(lst, list):
        return [item[key] for item in lst]
    else:
        return None
    
# creamos nuevas columas extrayendo los valores de la lista utilizando indexacion para acceder a
# los elemetos de la lista con ayuda de la funcion  extract_values
credits['cast_id'] = dummy_6.apply(lambda x: extract_values(x, 'cast_id'))
credits['character_cast'] = dummy_6.apply(lambda x: extract_values(x, 'character'))
credits['credit_id_cast'] = dummy_6.apply(lambda x: extract_values(x, 'credit_id'))
credits['gender_cast'] = dummy_6.apply(lambda x: extract_values(x, 'gender'))
credits['id_cast_2'] = dummy_6.apply(lambda x: extract_values(x, 'id'))
credits['name_cast'] = dummy_6.apply(lambda x: extract_values(x, 'name'))
credits['order_cast'] = dummy_6.apply(lambda x: extract_values(x, 'order'))
credits['profile_path_cast'] = dummy_6.apply(lambda x: extract_values(x, 'profile_path'))

In [21]:
#muestro las columnas creadas
credits.loc[0:2,['cast','cast_id','character_cast','credit_id_cast','gender_cast','id_cast_2','name_cast','order_cast','profile_path_cast']]

,cast,cast_id,character_cast,credit_id_cast,gender_cast,id_cast_2,name_cast,order_cast,profile_path_cast
0,"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJT...","[14, 15, 16, 17, 18, 19, 20, 26, 22, 23, 24, 25, 27]","['Woody (voice)', 'Buzz Lightyear (voice)', 'Mr. Potato Head (voice)', 'Slinky Dog (voice)', 'Rex (voice)', 'Hamm (voice)', 'Bo Peep (voice)', 'Andy (voice)', 'Sid (voice)', 'M...","['52fe4284c3a36847f8024f95', '52fe4284c3a36847f8024f99', '52fe4284c3a36847f8024f9d', '52fe4284c3a36847f8024fa1', '52fe4284c3a36847f8024fa5', '52fe4284c3a36847f8024fa9', '52fe42...","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 1116442, 12901, 12133, 8655, 12903, 37221]","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney', 'Wallace Shawn', 'John Ratzenberger', 'Annie Potts', 'John Morris', 'Erik von Detten', 'Laurie Metcalf', 'R. Lee Ermey',...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","['/pQFoyx7rp09CJTAb932F2g8Nlho.jpg', '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg', '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg', '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg', '/oGE6JqPP2xH4tNORKNqxbNPYi7u.j..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a36847f80a7c73', 'gender': 2, 'id': 2157, 'name': 'Robin Williams', 'order': 0, 'profile_path': '/sojtJyIV3...","[1, 8, 2, 24, 10, 25, 26, 11, 14, 13, 31, 12, 28, 29, 30, 32, 33, 34, 35, 36, 37, 50, 39, 40, 41, 42]","['Alan Parrish', 'Samuel Alan Parrish / Van Pelt', 'Judy Sheperd', 'Peter Shepherd', 'Sarah Whittle', 'Nora Shepherd', 'Carl Bentley', 'Carol Anne Parrish', 'Alan Parrish (youn...","['52fe44bfc3a36847f80a7c73', '52fe44bfc3a36847f80a7c99', '52fe44bfc3a36847f80a7c77', '52fe44c0c3a36847f80a7ce7', '52fe44bfc3a36847f80a7c9d', '52fe44c0c3a36847f80a7ceb', '52fe44...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, 0, 2, 2, 0, 2, 0, 2, 0, 0, 0, 0]","[2157, 8537, 205, 145151, 5149, 10739, 58563, 1276, 46530, 56523, 51551, 56522, 1000304, 188949, 1076551, 1480246, 25024, 27110, 53715, 1379424, 1235504, 25389, 1483449, 148345...","['Robin Williams', 'Jonathan Hyde', 'Kirsten Dunst', 'Bradley Pierce', 'Bonnie Hunt', 'Bebe Neuwirth', 'David Alan Grier', 'Patricia Clarkson', 'Adam Hann-Byrd', 'Laura Bell Bu...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]","['/sojtJyIV3lkUeThD7A2oHNm8183.jpg', '/7il5D76vx6QVRVlpVvBPEC40MBi.jpg', '/wBXvh6PJd0IUVNpvatPC1kzuHtm.jpg', '/j6iW0vVA23GQniAPSYI6mi4hiEW.jpg', '/7spiVQwmr8siw5QCcvvdRG3c7Lf.j..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a9251416c75077a8d', 'gender': 2, 'id': 6837, 'name': 'Walter Matthau', 'order': 0, 'profile_path': '/xJVkvprOnz...","[2, 3, 4, 5, 6, 9, 10]","['Max Goldman', 'John Gustafson', 'Ariel Gustafson', 'Maria Sophia Coletta Ragetti', 'Melanie Gustafson', 'Grandpa Gustafson', 'Jacob Goldman']","['52fe466a9251416c75077a8d', '52fe466a9251416c75077a91', '52fe466a9251416c75077a95', '52fe466a9251416c75077a99', '52fe466a9251416c75077a9d', '53e5fcc2c3a3684430000d65', '53e5fc...","[2, 2, 1, 1, 1, 2, 2]","[6837, 3151, 13567, 16757, 589, 16523, 7166]","['Walter Matthau', 'Jack Lemmon', 'Ann-Margret', 'Sophia Loren', 'Daryl Hannah', 'Burgess Meredith', 'Kevin Pollak']","[0, 1, 2, 3, 4, 5, 6]","['/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg', '/chZmNRYMtqkiDlatprGDH4BzGqG.jpg', '/jx5lTaJ5VXZHYB52gaOTAZ9STZk.jpg', '/emKLhbji1c7BjcA2DdbWf0EP9zH.jpg', '/4LLmp6AQdlj6ueGCRbVRSGvvFSt.j..."

#### Desanidar columna crew

In [22]:
#observamos la columna
credits.loc[0:2,'crew']

0    [{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', 'gender': 2, 'id': 7879, 'job': 'Director', 'name': 'John Lasseter', 'profile_path': '/7EdqiNbr4FRjIhKHyPP...
1    [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', 'gender': 2, 'id': 511, 'job': 'Executive Producer', 'name': 'Larry J. Franco', 'profile_path': None}, {'...
2    [{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', 'gender': 2, 'id': 26502, 'job': 'Director', 'name': 'Howard Deutch', 'profile_path': '/68Vae1HkU1NxQZ6KEm...
Name: crew, dtype: object

In [23]:
#cantidad de datos nulos en la columna crew
credits['crew'].isnull().sum()

0

In [25]:
#convierte los valores de la columna en una lista real
dummy_7 = credits['crew'].apply(lambda x: ast.literal_eval(x))

In [28]:
# Función auxiliar para obtener los valores 'id' y 'name' de una lista
def extract_values(lst, key):
    if isinstance(lst, list):
        return [item[key] for item in lst]
    else:
        return None
    
# creamos nuevas columas extrayendo los valores de la lista utilizando indexacion para acceder a
# los elemetos de la lista con ayuda de la funcion  extract_values
credits['credit_id_crew'] = dummy_7.apply(lambda x: extract_values(x, 'credit_id'))
credits['department_crew'] = dummy_7.apply(lambda x: extract_values(x, 'department'))
credits['gender_crew'] = dummy_7.apply(lambda x: extract_values(x, 'gender'))
credits['id_crew_2'] = dummy_7.apply(lambda x: extract_values(x, 'id'))
credits['job_crew'] = dummy_7.apply(lambda x: extract_values(x, 'job'))
credits['name_crew'] = dummy_7.apply(lambda x: extract_values(x, 'name'))
credits['profile_path_crew'] = dummy_7.apply(lambda x: extract_values(x, 'profile_path'))

In [29]:
#mostramos las columnas creadas
credits.loc[0:2,['crew','credit_id_crew','department_crew','gender_crew','id_crew_2','job_crew','name_crew','profile_path_crew']]

,crew,credit_id_crew,department_crew,gender_crew,id_crew_2,job_crew,name_crew,profile_path_crew
0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', 'gender': 2, 'id': 7879, 'job': 'Director', 'name': 'John Lasseter', 'profile_path': '/7EdqiNbr4FRjIhKHyPP...","[52fe4284c3a36847f8024f49, 52fe4284c3a36847f8024f4f, 52fe4284c3a36847f8024f55, 52fe4284c3a36847f8024f5b, 52fe4284c3a36847f8024f61, 52fe4284c3a36847f8024f67, 52fe4284c3a36847f80...","[Directing, Writing, Writing, Writing, Writing, Production, Production, Production, Production, Editing, Art, Editing, Sound, Visual Effects, Sound, Sound, Editing, Visual Effe...","[2, 2, 2, 2, 0, 1, 0, 2, 2, 2, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0...","[7879, 12891, 7, 12892, 12893, 12894, 12895, 12896, 12897, 8, 7883, 1168870, 1552883, 1453514, 1414182, 7885, 1429549, 7949, 7879, 12890, 7911, 1629419, 7961, 12905, 7885, 1748...","[Director, Screenplay, Screenplay, Screenplay, Screenplay, Producer, Executive Producer, Producer, Executive Producer, Editor, Art Direction, Editor, Foley Editor, Animation, A...","[John Lasseter, Joss Whedon, Andrew Stanton, Joel Cohen, Alec Sokolow, Bonnie Arnold, Ed Catmull, Ralph Guggenheim, Steve Jobs, Lee Unkrich, Ralph Eggleston, Robert Gordon, Mar...","[/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg, /dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg, /pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg, /dAubAiZcvKFbboWlj7oXOkZnTSu.jpg, /v79vlRYi94BZUQnkkyznbGUZLjT.jpg, None,..."
1,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', 'gender': 2, 'id': 511, 'job': 'Executive Producer', 'name': 'Larry J. Franco', 'profile_path': None}, {'...","[52fe44bfc3a36847f80a7cd1, 52fe44bfc3a36847f80a7c89, 52fe44bfc3a36847f80a7cdd, 52fe44bfc3a36847f80a7c7d, 52fe44bfc3a36847f80a7cd7, 573523bec3a368025100062c, 5722a924c3a3682d1e0...","[Production, Writing, Sound, Directing, Editing, Production, Visual Effects, Art, Production, Production, Production, Camera, Writing, Production, Writing, Writing]","[2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2]","[511, 876, 1729, 4945, 4951, 4952, 8023, 9967, 9184, 9196, 18389, 11371, 42356, 42357, 56520, 56521]","[Executive Producer, Screenplay, Original Music Composer, Director, Editor, Casting, Animation Supervisor, Production Design, Producer, Executive Producer, Executive Producer, ...","[Larry J. Franco, Jonathan Hensleigh, James Horner, Joe Johnston, Robert Dalva, Nancy Foy, Kyle Balda, James D. Bissell, Scott Kroopf, Ted Field, Robert W. Cort, Thomas E. Acke...","[None, /l1c4UFD3g0HVWj5f0CxXAvMAGiT.jpg, /oLOtXxXsYk8X4qq0ud4xVypXudi.jpg, /fok4jaO62v5IP6hkpaaAcXuw2H.jpg, None, /blCkmS4dqNsbPGuQfozHE6wgWBw.jpg, /jR8iAP6uC0V42KbUG87qBIUO3Hj..."
2,"[{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', 'gender': 2, 'id': 26502, 'job': 'Director', 'name': 'Howard Deutch', 'profile_path': '/68Vae1HkU1NxQZ6KEm...","[52fe466a9251416c75077a89, 52fe466b9251416c75077aa3, 52fe466b9251416c75077aa9, 5675eb4b92514179dd003933]","[Directing, Writing, Writing, Crew]","[2, 2, 2, 2]","[26502, 16837, 16837, 1551320]","[Director, Characters, Writer, Sound Recordist]","[Howard Deutch, Mark Steven Johnson, Mark Steven Johnson, Jack Keller]","[/68Vae1HkU1NxQZ6KEmuxIpno7c9.jpg, /6trChNn3o2bi4i2ipgMEAytwmZp.jpg, /6trChNn3o2bi4i2ipgMEAytwmZp.jpg, None]"

#### Exportamos credits

In [23]:
credits.shape

(45476, 18)

In [31]:
#exportamos el archivo con la primera transformacion
credits.to_csv('credits_1.csv',index=False)

# cargamos los csv actualizados

In [3]:
#cargamos los csv ya transformados
movies = pd.read_csv('movies_1.csv',parse_dates=['release_date'])
credits = pd.read_csv('credits_1.csv')

In [ ]:
# Unir los DataFrames por medio de sus ID
mov_cre = pd.merge(movies,credits, on='id')
# Guardar el DataFrame fusionado en un nuevo archivo CSV
mov_cre.to_csv('mov_cre.csv', index=False)

In [3]:
#cargar mov_cre
mov_cre = pd.read_csv('mov_cre.csv')

In [9]:
# filtrar el dataframe mov_cre con las columnas necesarias para realizar las funciones y nos quede con un tamaño pequeño para poder subirlo a github
columnas_deseadas = ['release_date', 'id', 'title', 'release_year', 'popularity', 'vote_count', 'vote_average',
                    'name_cast', 'return', 'name_crew', 'budget', 'revenue']
movies_final = mov_cre.loc[:, columnas_deseadas]

In [15]:
#convierto la columna al formato %Y-%m-%d
movies_final['release_date'] = pd.to_datetime(movies_final['release_date'], format='%Y-%m-%d', errors='coerce')

In [ ]:
# Guardar el DataFrame fusionado en un nuevo archivo CSV
movies_final.to_csv('movies_final.csv', index=False)

In [36]:
#cargo el dataraframe movies_final
movies_final = pd.read_csv('movies_final.csv',parse_dates=['release_date'])

In [37]:
#numero de filas y columnas
movies_final.shape

(45451, 12)

In [38]:
#observo el tipo de dato de cada columna
movies_final.dtypes

release_date    datetime64[ns]
id                       int64
title                   object
release_year             int64
popularity             float64
vote_count             float64
vote_average           float64
name_cast               object
return                 float64
name_crew               object
budget                   int64
revenue                float64
dtype: object

# Funciones

#### cantidad de peliculas por mes

In [22]:
def cantidad_filmaciones_mes(mes):
    # funcion recibe como parametro el mes y retorna la cantidad de peliculas que fueron firmadas en ese mes.
    
    # convertir el mes consultado a minuscula
    mes = mes.lower()
    
    #diccionario de meses con su numero correspondiente
    meses = {
    'enero': 1,
    'febrero': 2,
    'marzo': 3,
    'abril': 4,
    'mayo': 5,
    'junio': 6,
    'julio': 7,
    'agosto': 8,
    'septiembre': 9,
    'octubre': 10,
    'noviembre': 11,
    'diciembre': 12}

    #obtengo el numero del mes consultado
    mes_numero = meses[mes]

    #obtengo los meses en formato numerico y los comparo con el numero del mes consultado y devuelve una serie booleana con valores true
    # Tratamos la excepciòn
    try:
        month_filtered = movies_final[movies_final['release_date'].dt.month == mes_numero]
    except (ValueError, KeyError, TypeError):
        return None

    # Filtramos valores duplicados del dataframe y calculamos
    month_unique = month_filtered.drop_duplicates(subset='id')
    respuesta = month_unique.shape[0]

    #return {f"{respuesta} cantidad de películas fueron estrenadas en el mes de {mes.capitalize()}"}
    return {'mes':mes, 'cantidad':respuesta}

In [23]:
cantidad_filmaciones_mes('enero')

{'mes': 'enero', 'cantidad': 5909}

#### cantidad de peliculas por dia

In [24]:
def cantidad_filmaciones_dia(dia):
 # funcion recibe como parametro el dia y retorna la cantidad de peliculas que fueron firmadas en ese dia de la semana.
    
    #diccionario de cada dia, con su valor en ingles para utilixar el metodo day_name()
    days = {
    'lunes': 'Monday',
    'martes': 'Tuesday',
    'miercoles': 'Wednesday',
    'jueves': 'Thursday',
    'viernes': 'Friday',
    'sabado': 'Saturday',
    'domingo': 'Sunday'}

    # convertimos el dia en minuscula y obtengo el dia consultado
    day = days[dia.lower()]

    # obtengo el dia de la columna release_date,Filtramos los duplicados y calculamos
    lista_peliculas_day = movies_final[movies_final['release_date'].dt.day_name() == day].drop_duplicates(subset='id')
    respuesta = lista_peliculas_day.shape[0]

    #return {f"{respuesta} cantidad de películas fueron estrenadas en el dia {dia.capitalize()}"}
    return {'dia':dia, 'cantidad':respuesta}

In [25]:
cantidad_filmaciones_dia('lunes')

{'dia': 'lunes', 'cantidad': 3500}

#### funcion pelicula,año,score

In [26]:
def score_titulo(titulo):
    # funcion que recibe el nombre de la pelicula y retorna su titulo, año y score
    
    #filtro los datos por medio del titulo y elimino los duplicados
   lista_peliculas_title = movies_final[movies_final['title'] == titulo].drop_duplicates(subset='title')    
   #obtengo el titulo, año y score por su indice
   titulo = lista_peliculas_title['title'].iloc[0]
   año = lista_peliculas_title['release_year'].iloc[0]
   score = lista_peliculas_title['popularity'].iloc[0]
       
   #return {f"la pelicula {titulo} fue estrenada en el año {año} con un score de {score}"}
   return {'titulo':titulo, 'año':año, 'popularidad':score}

In [27]:
score_titulo('Toy Story')

{'titulo': 'Toy Story', 'año': 1995, 'popularidad': 21.946943}

#### funcion pelicula,año,votos y promedio

In [28]:
def votos_titulo(titulo):
 # funcion que recibe el nombre de la pelicula y retorna su titulo, año, cantidad de votos y promedio de votos
    
    #filtro los datos por medio del titulo y elimino los duplicados
    lista_peliculas_title = movies_final[movies_final['title'] == titulo].drop_duplicates(subset='title')    
    #obtengo el titulo, año, votos y promedio por su indice
    titulo = lista_peliculas_title['title'].iloc[0]
    año = lista_peliculas_title['release_year'].iloc[0]
    votos = lista_peliculas_title['vote_count'].iloc[0]
    votos_promedio = lista_peliculas_title['vote_average'].iloc[0]
    
     # Verificar si la variable 'votos' cumple la condición mínima de 2000 valoraciones
    if votos >= 2000:
        #return f"La película {titulo} fue estrenada en el año {año}. La misma cuenta con un total de {votos} valoraciones, con un promedio de {votos_promedio}."
        return {'titulo':titulo, 'año':año, 'voto_total':votos, 'voto_promedio':votos_promedio}    
    else:
        return "La película no cumple con la condición mínima de 2000 valoraciones."

In [29]:
votos_titulo('Toy Story')

{'titulo': 'Toy Story',
 'año': 1995,
 'voto_total': 5415.0,
 'voto_promedio': 7.7}

#### funcion actor,retorno,cantidad de peliculas,promedio de retorno

In [30]:
def get_actor( nombre_actor ):
    # funcion que recibe el nombre del actor y retorna nombre,cantidad de peliculas que a participado, retorno conseguido y 
    # promedio del retorno por peliculas
        
    # Filtrar los datos por nombre del actor y eliminar duplicados
    lista_peli_actor = movies_final[movies_final['name_cast'].apply(lambda x: nombre_actor in x)].drop_duplicates(subset='id')
    
    # Verificar si se encontraron registros para el actor
    if len(lista_peli_actor) > 0:
        
        # Obtener las películas en las que ha participado el actor
        peliculas = lista_peli_actor['title'].tolist()        
        cantidad_peliculas = len(peliculas)
        
        #calculamos el retorno y promedio por pelicula
        retorno_conseguido = lista_peli_actor['return'].sum()
        promedio_retorno = retorno_conseguido / cantidad_peliculas
        
        #return f"El actor {nombre_actor} ha participado de {cantidad_peliculas} cantidad de filmaciones, el mismo ha conseguido un retorno de {retorno_conseguido} con un promedio de {promedio_retorno} por filmación"
        return {"nombre": nombre_actor,"cantidad_peliculas": cantidad_peliculas,"retorno_conseguido": retorno_conseguido,"promedio_retorno": promedio_retorno}    
    else:
        return f"No se encontraron registros para el actor {nombre_actor}."

In [24]:
get_actor('Robin Williams')

{'nombre': 'Robin Williams',
 'cantidad_peliculas': 82,
 'retorno_conseguido': 66500155.66,
 'promedio_retorno': 810977.5080487805}

#### funcion director

In [32]:
def get_director(nombre_director):
    # Filtrar los datos por nombre del director y eliminar duplicados
    lista_peli_director = movies_final[movies_final['name_crew'].apply(lambda x: nombre_director in x)].drop_duplicates(subset='id')
    
    # Verificar si se encontraron registros para el director
    if len(lista_peli_director) > 0:
        # Calcular el éxito del director a través del retorno
        retorno_total = lista_peli_director['return'].sum()
        
        # Crear una lista de diccionarios con la información de cada película
        peliculas_info = []
        for index, row in lista_peli_director.iterrows():
            pelicula_info = {
                "nombre_pelicula": row['title'],
                "fecha_lanzamiento": row['release_date'],
                "retorno_individual": row['return'],
                "costo": row['budget'],
                "ganancia": row['revenue']
            }
            peliculas_info.append(pelicula_info)
        
        return {
            "nombre_director": nombre_director,
            "retorno_total": retorno_total,
            "peliculas_info": peliculas_info
        }
    else:
        return f"No se encontraron registros para el director {nombre_director}."

In [26]:
get_director('John Lasseter')

{'nombre_director': 'John Lasseter',
 'retorno_total': 145.95,
 'peliculas_info': [{'nombre_pelicula': 'Toy Story',
   'fecha_lanzamiento': '1995-10-30',
   'retorno_individual': 12.45,
   'costo': 30000000,
   'ganancia': 373554033.0},
  {'nombre_pelicula': 'Beauty and the Beast',
   'fecha_lanzamiento': '1991-11-13',
   'retorno_individual': 15.09,
   'costo': 25000000,
   'ganancia': 377350553.0},
  {'nombre_pelicula': "A Bug's Life",
   'fecha_lanzamiento': '1998-11-25',
   'retorno_individual': 3.03,
   'costo': 120000000,
   'ganancia': 363258859.0},
  {'nombre_pelicula': 'Toy Story 2',
   'fecha_lanzamiento': '1999-10-30',
   'retorno_individual': 5.53,
   'costo': 90000000,
   'ganancia': 497366869.0},
  {'nombre_pelicula': 'Monsters, Inc.',
   'fecha_lanzamiento': '2001-11-01',
   'retorno_individual': 4.89,
   'costo': 115000000,
   'ganancia': 562816256.0},
  {'nombre_pelicula': 'Finding Nemo',
   'fecha_lanzamiento': '2003-05-30',
   'retorno_individual': 10.0,
   'costo': 94000000,
   'ganancia': 940335536.0},
  {'nombre_pelicula': 'The Incredibles',
   'fecha_lanzamiento': '2004-11-05',
   'retorno_individual': 6.86,
   'costo': 92000000,
   'ganancia': 631442092.0},
  {'nombre_pelicula': "Howl's Moving Castle",
   'fecha_lanzamiento': '2004-11-19',
   'retorno_individual': 9.78,
   'costo': 24000000,
   'ganancia': 234710455.0},
  {'nombre_pelicula': 'Luxo Jr.',
   'fecha_lanzamiento': '1986-08-17',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Cars',
   'fecha_lanzamiento': '2006-06-08',
   'retorno_individual': 3.85,
   'costo': 120000000,
   'ganancia': 461983149.0},
  {'nombre_pelicula': 'Ratatouille',
   'fecha_lanzamiento': '2007-06-22',
   'retorno_individual': 4.16,
   'costo': 150000000,
   'ganancia': 623722818.0},
  {'nombre_pelicula': 'WALL·E',
   'fecha_lanzamiento': '2008-06-22',
   'retorno_individual': 2.9,
   'costo': 180000000,
   'ganancia': 521311860.0},
  {'nombre_pelicula': 'Bolt',
   'fecha_lanzamiento': '2008-11-21',
   'retorno_individual': 2.07,
   'costo': 150000000,
   'ganancia': 309979994.0},
  {'nombre_pelicula': 'Up',
   'fecha_lanzamiento': '2009-05-13',
   'retorno_individual': 4.2,
   'costo': 175000000,
   'ganancia': 735099082.0},
  {'nombre_pelicula': 'Partly Cloudy',
   'fecha_lanzamiento': '2009-05-28',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'The Princess and the Frog',
   'fecha_lanzamiento': '2009-12-08',
   'retorno_individual': 2.54,
   'costo': 105000000,
   'ganancia': 267045765.0},
  {'nombre_pelicula': 'Toy Story 3',
   'fecha_lanzamiento': '2010-06-16',
   'retorno_individual': 5.33,
   'costo': 200000000,
   'ganancia': 1066969703.0},
  {'nombre_pelicula': 'Tangled',
   'fecha_lanzamiento': '2010-11-24',
   'retorno_individual': 2.28,
   'costo': 260000000,
   'ganancia': 591794936.0},
  {'nombre_pelicula': 'Cars 2',
   'fecha_lanzamiento': '2011-06-11',
   'retorno_individual': 2.8,
   'costo': 200000000,
   'ganancia': 559852396.0},
  {'nombre_pelicula': 'John Carter',
   'fecha_lanzamiento': '2012-03-07',
   'retorno_individual': 1.09,
   'costo': 260000000,
   'ganancia': 284139100.0},
  {'nombre_pelicula': 'The Ballad of Nessie',
   'fecha_lanzamiento': '2011-04-13',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Presto',
   'fecha_lanzamiento': '2008-06-18',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Jack-Jack Attack',
   'fecha_lanzamiento': '2004-12-31',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'One Man Band',
   'fecha_lanzamiento': '2005-06-21',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Tin Toy',
   'fecha_lanzamiento': '1988-08-01',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': "Red's Dream",
   'fecha_lanzamiento': '1987-08-17',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': "Geri's Game",
   'fecha_lanzamiento': '1997-11-24',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Knick Knack',
   'fecha_lanzamiento': '1989-01-01',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Wreck-It Ralph',
   'fecha_lanzamiento': '2012-11-01',
   'retorno_individual': 2.86,
   'costo': 165000000,
   'ganancia': 471222889.0},
  {'nombre_pelicula': 'Paperman',
   'fecha_lanzamiento': '2012-11-02',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Monsters University',
   'fecha_lanzamiento': '2013-06-20',
   'retorno_individual': 3.72,
   'costo': 200000000,
   'ganancia': 743559607.0},
  {'nombre_pelicula': 'Toy Story of Terror!',
   'fecha_lanzamiento': '2013-10-15',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Frozen',
   'fecha_lanzamiento': '2013-11-27',
   'retorno_individual': 8.49,
   'costo': 150000000,
   'ganancia': 1274219009.0},
  {'nombre_pelicula': 'La luna',
   'fecha_lanzamiento': '2011-01-01',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Mater and the Ghostlight',
   'fecha_lanzamiento': '2006-07-27',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Tangled Ever After',
   'fecha_lanzamiento': '2012-01-13',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Planes: Fire & Rescue',
   'fecha_lanzamiento': '2014-07-17',
   'retorno_individual': 3.02,
   'costo': 50000000,
   'ganancia': 151165787.0},
  {'nombre_pelicula': 'Big Hero 6',
   'fecha_lanzamiento': '2014-10-24',
   'retorno_individual': 3.95,
   'costo': 165000000,
   'ganancia': 652105443.0},
  {'nombre_pelicula': 'Small Fry',
   'fecha_lanzamiento': '2011-11-23',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Secret of the Wings',
   'fecha_lanzamiento': '2012-08-17',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Tinker Bell and the Lost Treasure',
   'fecha_lanzamiento': '2009-09-03',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Partysaurus Rex',
   'fecha_lanzamiento': '2012-09-14',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': "The Legend of Mor'du",
   'fecha_lanzamiento': '2012-01-01',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Get a Horse!',
   'fecha_lanzamiento': '2013-11-27',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Frozen Fever',
   'fecha_lanzamiento': '2015-03-09',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Tinker Bell and the Legend of the NeverBeast',
   'fecha_lanzamiento': '2014-12-12',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Tinker Bell and the Pirate Fairy',
   'fecha_lanzamiento': '2014-02-13',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 20300000.0},
  {'nombre_pelicula': 'Tinker Bell and the Great Fairy Rescue',
   'fecha_lanzamiento': '2010-08-13',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Tinker Bell',
   'fecha_lanzamiento': '2008-10-27',
   'retorno_individual': 0.0,
   'costo': 48000000,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Inside Out',
   'fecha_lanzamiento': '2015-06-09',
   'retorno_individual': 4.9,
   'costo': 175000000,
   'ganancia': 857611174.0},
  {'nombre_pelicula': 'The Good Dinosaur',
   'fecha_lanzamiento': '2015-11-14',
   'retorno_individual': 1.9,
   'costo': 175000000,
   'ganancia': 331926147.0},
  {'nombre_pelicula': 'Prep & Landing',
   'fecha_lanzamiento': '2009-12-24',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Feast',
   'fecha_lanzamiento': '2014-11-07',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Lava',
   'fecha_lanzamiento': '2015-06-21',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': "Sanjay's Super Team",
   'fecha_lanzamiento': '2015-11-25',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Zootopia',
   'fecha_lanzamiento': '2016-02-11',
   'retorno_individual': 6.83,
   'costo': 150000000,
   'ganancia': 1023784195.0},
  {'nombre_pelicula': 'Finding Dory',
   'fecha_lanzamiento': '2016-06-16',
   'retorno_individual': 5.14,
   'costo': 200000000,
   'ganancia': 1028570889.0},
  {'nombre_pelicula': 'Piper',
   'fecha_lanzamiento': '2016-06-16',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'How to Hook Up Your Home Theater',
   'fecha_lanzamiento': '2007-12-21',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Tick Tock Tale',
   'fecha_lanzamiento': '2010-06-10',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Air Mater',
   'fecha_lanzamiento': '2011-08-04',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': "Riley's First Date?",
   'fecha_lanzamiento': '2015-11-03',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Moana',
   'fecha_lanzamiento': '2016-11-23',
   'retorno_individual': 4.29,
   'costo': 150000000,
   'ganancia': 643034466.0},
  {'nombre_pelicula': 'Inner Workings',
   'fecha_lanzamiento': '2016-11-23',
   'retorno_individual': 0.0,
   'costo': 0,
   'ganancia': 0.0},
  {'nombre_pelicula': 'Cars 3',
   'fecha_lanzamiento': '2017-06-15',
   'retorno_individual': 2.0,
   'costo': 175000000,
   'ganancia': 350170057.0}]}